body {
	height: 100vh;
	width: 100%;
	position: relative;
	margin: 0; 
	overflow: scroll;
	background-color: black;
}

li {
	cursor: pointer;
	list-style: none;
}

img {
	
	height: auto;
}



#sickroc img{
	height: 150px;
	float: left;
	width: auto;
}


#aboutbody {
	background-color: #A39EA1;
	min-width: 300px;

}

#aboutbio {
	background-color: lightgrey;
	width: 300px;
	border: 10px solid black;
	padding: 10px;
	margin: 10px;

}



#aboutbio p {
	font-size: 15px;
	border: 2px solid lightgrey;
	padding: 10px;
	margin: 30px;
}

.aboutnav {
	display: flex;
	justify-content: flex-end;
	padding: 1em .5em;
	font-size: 25px;
	font-family: serif;

}

.aboutnav li {
	margin-right: 3vmax;
	list-style: none;
}

.containerpicture img {
	float:right;
	height: 400%;
	border: 5px solid;

}

.aboutheader {
	width: 100%;
	/*height: 110px;*/
	background: #000;
}


#header {
	width: 100%;
	height: 150px;
	background: #000;
	

}

.clearfix:after {
	content: ".";
	display: table;
	clear: both;
}

.nav  {

	justify-content: space-around;
	list-style: none;
	line-height: normal;
	display: flex;
	flex-direction: row;
	padding-top: 130px;
	padding: 122px;
	margin: auto;
	
}

a {
	text-decoration: none;

}

.nav a:hover {
	background: red;
	text-decoration: none;

}

.nav a:active {
	background: pink;
	text-decoration: none;

}


.nav ul {

	font-size: 25px;
	font-family: serif;
}
.nav  li {
	color: rgb(255, 255, 255); 
    font-size: 20px; 
    line-height: 13px;
    padding: 6px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 400;
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none;
    font-size: 25px;
	font-family: serif;
}

/*#gallery-container  {
	width: 650px;
	height: 400px;
	overflow: hidden;
	margin: 30px auto;
}

#gallery-container .djslides {
	display: block;
	width: 6000px;
	height: 400px;
	margin:0;
	padding: 0;
}*/

.maingallery {
	background-color: lightgrey;
}

#gallery-container .mydjpics{
	/*float: left;*/
	list-style-type: none;
	width: 600px;
	height: 400px;
	padding: auto;
}

.picture {
	background: url(../images/djpic3.jpg);
    background-position: center;
    background-size: 100%	
}

.containerpicture {
	position: right;
	height: auto;
}

#profile {
	background-repeat: no-repeat;
	height: 480px;
	text-align: center;
}



footer { 
	background-color: black;
	height: 150px;
	color: red;
}

footer .social{
	left: 43%;
    width: 200px;
    top: 25%;
    position: relative;
    box-sizing: border-box;
}

footer img  {

	height: 100px;
}




@media (min-width: 500px) {
	p {
		font-size: 1.5rem;
	}	
}




